name: Deploy on AWS

on:
  pull_request:
    branches:
      - main
    types:
      - closed
  # workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy CDK Stacks
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
          aws-region: us-east-1

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: CDK synth
        run: npx cdk synth --output "cdk.out"

      - name: Run deploy command
        run: npx cdk deploy --all --app "cdk.out" --require-approval never